<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/blog/blog.css">
    <link rel="stylesheet" href="../../static/css/navbar.css">
    <link rel="stylesheet" href="../../static/css/footer.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <title>Blog</title>
</head>
<body>
    {% include 'partials/_navbar.html' %}

<!-- CABEÇALHO E CAMPO DE BUSCA -->
    <div class="cabecalho_">
        <h1>Últimas Notícias</h1>
        <p>{{ noticias.first.titulo }}</p>
    </div>

    <form action="{% url 'buscar_noticia' %}">
        <div class="campoDeBusca">
            <input type="text" placeholder="Buscar" name="buscar">
            <img src="../../static/img/blog/Icons/Lupa.png" alt="" >
            <button type="submit"></button>
        </div>
    </form>

<!-- POSTS -->
    {% if noticias %}
    <div class="container">
        <div class="row">
            {% for noticia in noticias %}
            <div class="col-lg-6 col-12 custom-col">
                <div class="upper">
                    <img src="{{ noticia.foto.url }}" alt="Imagem Post1">
                </div>
                <div class="lower">
                    <h3 id="titulo">{{ noticia.titulo }}</h3>
                    <p>{{ noticia.subtitulo }}</p>
                    <div class="rodapePost">
                        <div class="rodapeLeft">
                            <img src="../../static/img/blog/Icons/Coração.png" alt="imagem Coração">
                            <p>{{ noticia.data_publicacao|date }}</p>
                        </div>
                        <a href="{% url 'blog_post_individual' noticia.id %}">Ler mais</a>
                    </div>
                </div>  
            </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}
<!-- <script src="../../static/js/blog/CortaTexto.js"></script> -->
    <div class="container">
        <button class="btnCarregarMais">Carregar Mais</button>
    </div>

    {% include 'partials/_footer.html' %}
</body>
</html>